<h1>My Profile</h1>
<p><%= image_tag @student.image.url %></p>
<table>
	 
	<tr>
			<td>Name:</td>
			<td><%= @student.first_name %></td>
	</tr>
	<tr>
			<td>Branch:</td>
			<td><%= @student.branch%></td>
	</tr>
	<tr>
			<td>PRN number:</td>
			<td><%= @student.PRN_no%></td>
	</tr>
	<tr>
			<td>Email:</td>
			<td><%= @student.email%></td>
	</tr>
	<tr>
			<td>Contact</td>
			<td><%= @student.contact_no%></td>
	</tr>
	<tr>
			<td>Birthdate:</td>
			<td><%= @student.birthdate%></td>
	</tr>

</table>

<li><%= link_to 'edit', edit_student_path(@student) %></li>



