<%= form_for(@project) do |f| %>

<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1><%= f.label :ProjectName %></h1> 
<div><%= f.text_field :project_name,size: "60" %></div> 

<h1><%= f.label :ProjectDetails %></h1> 
<div><%= f.text_field :details,size: "60x12" %></div> 

 <div>
    <%= f.submit %><br>
  </div>
 
<% end %>

